# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{ino,cpp,h}]
indent_size = 2