[submodule "libraries/MCP23008"]
	path = libraries/Adafruit_MCP23008
	url = git@github.com:adafruit/Adafruit-MCP23008-library.git
[submodule "libraries/PacketSerial"]
	path = libraries/PacketSerial
	url = git@github.com:bakercp/PacketSerial.git
