repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.3.0
      hooks:
          - id: check-yaml
    - repo: https://github.com/pocc/pre-commit-hooks
      rev: python
      hooks:
          - id: clang-format
            args: [-i]
            exclude: 'libraries/.*'
            files: '.*\.[ch]p?p?$|.*\.inox?$'
